{% extends "base.html" %}

{#
The entry point for the ReadTheDocs Theme.

Any theme customisations should override this file to redefine blocks defined in
the various templates. The custom theme should only need to define a main.html
which `{% extends "base.html" %}` and defines various blocks which will replace
the blocks defined in base.html and its included child templates.
#}

{%- block site_meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page and page.is_homepage %}<meta name="description" content="{{ config.site_description }}">{% endif %}
  {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
  {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
  {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}">
  {% else %}<link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">{% endif %}
  <meta property="title" content="{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}"/>
  <!-- Metadonnées en RDFa pour le bot ISIDORE -->
  <link rel="dc:identifier" href="{{ page.canonical_url}}" />
  <meta property="dc:title" content="{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}"/>
  <meta property="dc:format" content="text/html" />
  <meta property="dc:creator" content="Huma-Num"/>
  <meta property="dc:date" content="{{ build_date_utc.strftime('%Y-%m-%d') }}"/>
  {% if page %}<meta property="dc:lang" content="{% if page.meta.lang %}{{ page.meta.lang }}{% else %}fr{% endif %}"/>{% endif %}
  {% if page and page.canonical_url %}<meta property="dc:identify" content="{{ page.canonical_url}}"/>{% endif %}
  {% if page.meta and page.meta.description %}<meta property="dc:description" xml:lang="{% if page.meta.lang %}{{ page.meta.lang }}{% else %}fr{% endif %}" content="{{ page.meta.description }}"/>{% endif %}
    {% if page.meta %}<meta property="dc:subject" xml:lang="{% if page.meta.lang %}{{ page.meta.lang }}{% else %}fr{% endif %}" content="{{ page.meta.tags }}"/>
    {% endif %}
{% endblock %}

  {%- block analytics %}
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analyseweb.huma-num.fr/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '159']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript>
    <p>
      <img src="https://analyseweb.huma-num.fr/matomo.php?idsite=159&amp;rec=1" style="border:0;" alt="" />
    </p>
  </noscript>
  <!-- End Matomo Code —>
  {%- endblock %}
